# Prerequisites
*.d

# Folders
/Sound_Processor_V1.1/.vs
/Sound_Processor_V1.1/Debug

/drc_module/.vs
/drc_module/Debug

/filters_module/.vs
/filters_module/Debug

/Google_Tests/.vs
/Google_Tests/Debug

/GoogleMock/.vs
/GoogleMock/Debug

/maths_module/.vs
/maths_module/Debug

/rls_module/.vs
/rls_module/Debug

/nlms_module/.vs
/nlms_module/Debug

/Testing/.vs
/Testing/Debug

/EigenLib/.vs
/EigenLib/Debug

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Temporal Matlab Files
*.asv

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
